.lp-view {
  & .task-full {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: var(--radius-m);
    background-color: var(--color-base-00);

    & .project-link-container {
      width: 100%;
      display: flex;
      justify-content: end;
    }

    & .first-line {
      display: flex;
      gap: 0.5rem;

      & input[type=checkbox] {
        margin-top: 8px;
      }

      & .text {
        padding: 0;
      }
    }

    & .other-lines {
      display: flex;
      flex-direction: column;
      gap: 4px;
      flex-wrap: wrap;

      & .line {
        display: flex;
        align-items: center;
        gap: 4px;
      }
    }
  }
}