.lp-view {
  & .task-full {
    display: flex;
    flex-direction: column;
    gap: 4px;
    border-radius: var(--radius-m);
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    background-color: var(--color-base-00);

    & .project-link-container {
      width: 100%;
      display: flex;
      justify-content: end;
    }

    & .first-line {
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }

    & .second-line {
      display: flex;
      gap: 4px;
      align-items: center;
      justify-content: space-between;

      & .date-container {
        display: flex;
        align-items: center;
        gap: 4px;
        flex-wrap: wrap;
      }

      & .tags-container {
        display: flex;
        align-items: center;
        justify-content: end;
        gap: 4px;
        flex-wrap: wrap;
      }
    }
  }
}