.lp-view {
  & .task-short {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    border-radius: var(--radius-m);
    border: var(--lp-task-borders);
    padding: 4px 0.5rem 4px 0.5rem;
    background-color: var(--color-base-00);
    cursor: pointer;
    overflow: hidden;
    
    & .line-one {
      display: flex;
      width: 100%;
      height: fit-content;
      align-items: center;
      flex-wrap: nowrap;
      gap: 4px;
    }

    & .line-two {
      width: fit-content;
    }
  }
}