.lp-view {
  & .task-short {
    display: flex;
    flex-direction: column;
    gap: 4px;
    border-radius: var(--radius-m);
    border: var(--lp-task-borders);
    padding: 0 0.5rem 0 0.5rem;
    background-color: var(--color-base-00);
    cursor: pointer;
    overflow: hidden;

    & .line-one {
      display: flex;
      width: 100%;
      height: fit-content;
      flex-wrap: nowrap;
      gap: 4px;

      & input[type=checkbox] {
        margin-top: 8px;
      }
    }

    & .line-two {
      display: flex;
      align-items: center;
      justify-content: end;
      gap: 4px;
      
      & .projectLink, & .occurence {
        width: fit-content;
      }

    }
  }

  & .tasks-column .task-short {
    position: absolute;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  }
}